@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../assets/fonts/pokemon_gb/pokemon_gb-webfont.woff2') format('woff2'),
         url('../assets/fonts/pokemon_gb/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#pokemon-screen {
    width: 100vw;
    min-height: 100vh;
    font-family: 'pokemon_gbregular', 'Roboto';
}

.pokemon-detailed {
    padding: 1rem;
    text-align: center;
}

.info-box {
    background-color: whitesmoke;
    margin: 2rem auto;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px 1px #000000; 
    box-shadow: 0px 0px 21px 1px #000000;
}

.name {
    margin-top: 0.5rem;
    position: sticky;
    top: 42px;
    z-index: 999;
}

.info-box:hover .info-box-part1{
    background-color: #000000;
    border-bottom: 2px solid black;
    color: white;
}

.info-box:hover .info-box-part1>img {
    transform: rotate( 180deg );
}

.info-box>.info-box-part1 {
    position: sticky;
    background-color: RGB(192, 30, 19);
    color: white;
    padding: 0.5rem;
    border-bottom: 2px solid RGB(207, 127, 146);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 300ms;
    transition-property: background-color, border-bottom, color;
    border-top-left-radius: 13px;
    border-top-right-radius: 8px;
}

.info-box-part1>img {
    margin: 0 .5rem;
    border: 1px solid black;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 300ms;
}

.info-box>.info-box-part2 {
    max-height: 200px;
    padding: 0.5rem;
    height: 100%;
    overflow-y: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top: 2px solid black;
}

.info-box-part2>li {
    transition-property: letter-spacing;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.info-box-part2>li:hover {
    letter-spacing: 5px;
}

.info-box-part2>h3 {
    transition-property: letter-spacing;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.info-box-part2>h3:hover {
    letter-spacing: 5px;
}

.info-box-part2::-webkit-scrollbar{
    display: none;
}

.images-wrapper {
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images-wrapper>img {
    width: 200px;
    position: absolute;
    transition-duration: 400ms;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.images-wrapper>img:hover {
    width: 240px;
}

.images-wrapper>.image-platform {
    margin-top: 110px;
    margin-bottom: 4rem;
    height: 60px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
}

.general-info {
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.general-info p {
    margin: 1rem 0;
    transition-duration: 300ms;
    transition-property: color, text-shadow, letter-spacing;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.general-info p:hover {
    letter-spacing: 5px;
    cursor: default;
    color: RGB(255, 204, 1);
    text-shadow: rgb(49, 101, 175) 3px 0px 0px, rgb(49, 101, 175) 2.83487px 0.981584px 0px, rgb(49, 101, 175) 2.35766px 1.85511px 0px, rgb(49, 101, 175) 1.62091px 2.52441px 0px, rgb(49, 101, 175) 0.705713px 2.91581px 0px, rgb(49, 101, 175) -0.287171px 2.98622px 0px, rgb(49, 101, 175) -1.24844px 2.72789px 0px, rgb(49, 101, 175) -2.07227px 2.16926px 0px, rgb(49, 101, 175) -2.66798px 1.37182px 0px, rgb(49, 101, 175) -2.96998px 0.42336px 0px, rgb(49, 101, 175) -2.94502px -0.571704px 0px, rgb(49, 101, 175) -2.59586px -1.50383px 0px, rgb(49, 101, 175) -1.96093px -2.27041px 0px, rgb(49, 101, 175) -1.11013px -2.78704px 0px, rgb(49, 101, 175) -0.137119px -2.99686px 0px, rgb(49, 101, 175) 0.850987px -2.87677px 0px, rgb(49, 101, 175) 1.74541px -2.43999px 0px, rgb(49, 101, 175) 2.44769px -1.73459px 0px, rgb(49, 101, 175) 2.88051px -0.838247px 0px;
}

.types {
    list-style: none;
}

.types li {
    margin: .5rem;
}

.abilities {
    list-style: none;
}

.abilities li {
    margin: .5rem;
}

.moves {
    list-style: none;
}

.moves li {
    margin: .5rem;
}

@media only screen and ( min-width: 600px ) {

    .pokemon-detailed{
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .images-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: auto 1rem;
        justify-self: end;
    }

    .images-wrapper>img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 250px;
    }

    .images-wrapper>img:hover {
        width: 300px;
    }

    .images-wrapper>.image-platform {
        margin: auto;
        width: 375px;
        margin-top: 105px;
    }

    .general-info {
        margin: auto 1rem;
        justify-self: end;
        text-align: end;
    }

    .info-box {
        margin: auto 1rem;
        width: 90%;
        max-width: 500px;
    }

    .name {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-self: start;
    }

    .name>.info-box-part1 {
        width: 100%; 
    }

    .name>.info-box-part2 {
        margin: auto 0;
        height: auto;
        width: 100%;
    }

    .types {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-self: end;
    }

    .types>.info-box-part1 {
        width: 100%; 
    }

    .types>.info-box-part2 {
        margin: auto 0;
        height: auto;
        width: 100%;
    }

    .abilities {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-self: start;
    }

    .abilities>.info-box-part1 {
        width: 100%; 
    }

    .abilities>.info-box-part2 {
        margin: auto 0;
        height: auto;
        width: 100%;
    }

    .moves {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-self: start;
    }

    .moves>.info-box-part1 {
        width: 100%; 
    }

    .moves>.info-box-part2 {
        margin: auto 0;
        height: auto;
        width: 100%;
    }

}