@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../assets/fonts/pokemon_gb/pokemon_gb-webfont.woff2') format('woff2'),
         url('../assets/fonts/pokemon_gb/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.search-box {
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    display: flex;
    max-width: 100%;
}

.search-btn {
    border: 0px;
    font-size: 20px;
    margin-right: 5px;
}

.search-input {
    font-family: 'pokemon_gbregular';
    border: 0px;
    background-color: transparent;
    outline: none;
}

.search-sug {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    position: absolute;
    background-color: whitesmoke;
    width: 80.5%;
    max-width: 301.47px;
    margin-top: 35px;
    max-height: 195px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 13px 24px 1px rgba(0,0,0,0.73); 
    box-shadow: 0px 13px 24px 1px rgba(0,0,0,0.73);
}

.search-sug::-webkit-scrollbar {
    display: none;
}

.search-sug li {
    list-style: none;
    cursor: pointer;
    padding: .3rem 0;
}

.search-sug li:hover {
    background-color: black;
    color: white;
}

@media only screen and ( min-width: 600px ) {
    .search-sug {
        width: 301.47px;
    }
}